*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2F5597;
    --secondary-color: #1f728e;
    --white-color: #ffffff;
    --light-color: #cecece;
    --dark-color: #000;

    /* Gradient Color */

}

body {
    background: var(--white-color);
    font-family: "Calibri", "sans-serif";
}

a,
a:focus {
    text-decoration: none;
    color: var(--white-color);
    font-family: "Calibri", "sans-serif";
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 16px;
    margin: 0;
    font-family: "Calibri", "sans-serif";
}

input,
input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn {
    outline: none;
    border: none;
}

.btn-primary {
    padding: 10px 24px;
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px 0 10px 0;
    transition: all .5 ease-in-out;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.btn-primary:hover {
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
}

section {
    padding-top: 70px;
}


/* ---------------------------------------
Style Section
--------------------------------------- */

/* ========= Header Section Start ========== */
header {
    background: var(--white-color);
}

header .header-top {
    padding: 20px 0px;
    background-color: var(--primary-color);
}

header .header-top p {
    color: var(--white-color);
    font-size: 20px;
}

header .header-top img {
    width: 30px;
    height: 30px;
    color: #046511;
}

header .navbar {
    padding: 16px 0px;
}

header .header-top a {
    font-size: 20px;
}

header .logo img {
    position: absolute;
    top: -60px;
    height: 120px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

header .navbar-nav .nav-link {
    color: var(--dark-color) !important;
    margin-left: 16px;
    font-size: 20px;
    font-weight: 600;
}

.navbar-nav a:hover {
    color: var(--secondary-color);
}

header .navbar-toggler,
header .navbar-toggler:focus {
    color: var(--white-color);
    box-shadow: none;
}


.main-title {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 20px 0px 30px 0px;
    text-shadow:
        0 1px 0 var(--secondary-color),
        0 1px 0 var(--secondary-color),
        0 1px 0 var(--secondary-color),
        0 1px 0 var(--secondary-color),
        0 1px 0 var(--secondary-color),
        0 1px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(71, 96, 165, 0.6),
        0 1px 3px rgba(74, 93, 146, 0.7),
        0 3px 5px rgba(58, 93, 191, 0.5),
        0 5px 10px rgba(76, 98, 158, 0.4),
        0 10px 10px rgba(58, 93, 191, 0.3);
}


/* ========= Header Section End ========== */

/* ========= Hero Section Start ========== */

.hero .hero-img {
    height: 650px;
}

.hero .hero-img img {
    width: 100%;
    height: 100%;
}

.banner p {
    font-size: 32px;
    letter-spacing: 1.1px;
}

.banner .banner-img img {
    height: 270px;
    width: 100%;
    padding: 4px;
    border: 1px solid var(--primary-color);
}

/* ========= Hero Section End ========== */

/* ========= Category Section Start ========== */
.category-row {
    column-gap: 120px;
    row-gap: 80px;
    flex-wrap: wrap;
}

.category-card {
    height: 200px;
    width: 200px;
    background-color: var(--white-color);
    border: 3px solid transparent;
    border-top-color: #3ca9fd;
    border-bottom-color: #3ca9fd;
    border-radius: 16px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}


/* ========= About Section Start ========== */

.about-us p {
    font-size: 20px;
}

.about-img img{
    width: 100%;
}



.mission-title {
    font-weight: 700;
    font-size: 20px;
}


/* ========= About Us Section End ========== */


/* =========  Why Section Start ========== */

.why-us p {
    font-size: 28px;
}

.mission-title {
    font-weight: 700;
    font-size: 20px;
}

.why-img img{
    width: 100%;
    height: 400px;
}

/* =========  Why Us Section End ========== */


/* =========  skill Section Start ========== */

.skill-card {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to left, #94aee3, #abeacd);
}

.skill-img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.row-cols-3>* {
    margin-bottom: 1rem;
}

/* =========  skill Section End ========== */

footer {
    background: linear-gradient(90deg, #04426d 0%, var(--secondary-color) 100%);
}

footer .footer-section h3 {
    font-size: 20px;
    color: var(--white-color);
}

footer .footer-section ul li {
    color: var(--light-color);
    margin-top: 16px;
    font-weight: 400;
}

footer .footer-section .copyright {
    color: var(--white-color);
}

footer .footer-section .copyright span {
    color: var(--primary-color);
}

footer .footer-section .get-touch {
    padding: 32px;
    border-radius: 12px;
    background-color: var(--bg-light);
}

footer .footer-section .get-touch h2 {
    font-size: 20px;
    color: var(--primary-color);
}

footer .footer-section .get-touch p {
    color: var(--light-color);
}

footer .footer-section .touch-filed input:focus,
footer .footer-section .touch-filed input {
    border: none;
    box-shadow: none;
}

footer .footer-section .touch-filed .btn-touch {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    padding: 0 32px;
    color: var(--white-color);
}

/* ---------------------------------------
Responsive Section
--------------------------------------- */

/* ========= Laptop Device ========== */

@media (max-width: 1400px) {}

/* ========= Tablet Device ========== */

@media (max-width: 993px) {}

/* ========= Mobile Device ========== */

@media (max-width: 768px) {}